.logo {
	width: 200px;
	max-width: 80%;
}

.headingGrid {
	text-align: center;
	margin-bottom: 3rem;
}

.headingGridItem {
	border: 1px solid #eaeaea;
	border-radius: 5px;
	margin: 10px;
}

.headingGridItem:hover {
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.creditCardProviders {
	width: 150px;
	max-width: 60vw;
	object-fit: contain;
}

.measuringTape {
	width: 200px;
	max-width: 70vw;
}

.measureButton {
	margin-bottom: 2rem;
}
